*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.menu-container{
        color:#FFF;
        background-color: #5995DA;
        padding:20px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
}
.menu {
        border: 1px solid #FFF;
        width: 900px;
        display:flex;
        justify-content: space-around;
}

.container {
        float: left;
        margin: 0 auto;
}

h1 {
        font-family: "Helvetica", "Arial", sans-serif;
}

.header-container {
        color: #5995DA;
        background-color: #D6E9FE;
        display: flex;
        justify-content: center;
}

.header {
        width: 900px;
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.subscribe, .social, .logo {
        border: 1px solid #5995DA;
}

.footer {
        display: flex;
        justify-content: space-between;
}

.footer-item {
        border: 1px solid #FFF;
        background-color: #000000;
        height: 30px;
        flex: 1;
}

.footer-one, .footer-three {
        background-color: #319A31;
        flex: initial;
        width: 300px;
}

.review-page, .portfolio-page {
  width: 90%;
  margin: auto;
}

hr {
  display: block;
  border-width: 2px;
  color: #000000;
}
.about-page, .home-page {
  width: 70%;
  margin: auto;
}

.github-link {
        display: flex;
        justify-content: center;
}
.github-link {
        color: #FFFFFF;
}

.aboutme{
  width: 300px;
  float: right;
  margin-right: 70px;
}

img {
  vertical-align: middle;
  border: 0;
  width: 100%;
}

.navbar {
  margin-bottom: 30px;
  background-color: #319A31 !important;
}

.masonry {
  column-count: 3;
  column-gap: 1em;
}

.item {
  background-color: #000000;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.bg-light {
  background-color: #319A31 !important;
}

p {
  font-family: "Bahnschrift", "Calibri", sans-serif !important;
  color: #000000 !important;
}

body {
  font-family: "Arial Black", "Bodoni MT Black", sans-serif !important;
}

h1, h2, .favorite-text {
  font-family: "Arial Black", "Bodoni MT Black", sans-serif !important;
  text-align: center;
  padding-bottom: 15px;
}

.nav-link.active, .navbar-brand{
  color: #000000 !important;
}

.navbar-nav, .navbar-light, .nav-link{
  color: #FFFFFF !important;
}

.brand-logo {
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.nav-logo {
  width: 80px;
}

.blog-post {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
}

.blog-post img{
  width: 25%;
  align-self: flex-start;
  padding-bottom: 10px;
}

.text {
  width: 75%;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  align-items: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 20%;
  padding-right: 15%;
  width: 100%;
  font-size: 12px;
}

.grid-item img{
  max-width: 200px;
  align-self: flex-start;
  padding-bottom: 10px;
  max-height: 300px;
}
